body
{
	background-image: url("back.jpg") ;
	background-repeat:no-repeat ;
	background-size: cover ;
	background-attachment: fixed ;
}

a
{
	text-decoration: none;
	color: #8E24AA ;
} 

h1
{
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	color: #000000;
}

h2
{
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	color: #000000;
}


.info
{
	font-family: font-family: 'Abhaya Libre', serif;
	font-style:italic;
	color: #979A9A  ;
	font-size: 13px;
}


.key
{
	font-style:italic;
	font-style:bold;
	font-size: 10px;
	color: #000000;
	font-family: font-family: 'Abhaya Libre', serif;
}

.article
{
	font-family: 'Poppins', sans-serif;
	font-size: 13px;
	
}

#a
{
	
	background-color: #F48FB1;
	float: left ;
	width: 35% ;
	margin-left: 170px ; 

}

#b
{
	background-color: #F48FB1;
	float: right ;
	width: 35% ;
	margin-right: 170px ; 
	

}

#text
{
	background-color: #FFFFFF;
	padding: 5px 30px 5px 30px ;
}

#image img
{
  width: 100%;
}




